<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/iconTwitter.png">
</head>

<body>
  <section class="section-accueil">

    <div class="tweet-navigation">
      <img class="tweet-navigation-image" src="/logoTwitter.png" alt="">
      <div class="tweet-navigation-link">
        <a href="/">
          <img src="/home-run.png" alt="">
          <h2>Home</h2>
        </a>
        <a href="">
          <img src="/hastag.png" alt="">
          <h2>Explore</h2>
        </a>
        <a href="">
          <img src="/bookmark.png" alt="">
          <h2>Bookmarks</h2>
        </a>
        <a href="/username">
          <img src="/user.png" alt="">
          <h2>My Tweets</h2>
        </a>
        <a href="/">
          <img src="/logout.png" alt="">
          <h2>Logout</h2>
        </a>
      </div>
    </div>

    <div class="tweet-container">
      <div class="tweet-container-title">
        <h3><%=response[0].pseudo%></h3>
      </div>
      <div class="tweet-container-profile">
        <div class="tweet-container-profile-background">
          <img src="" alt="">
        </div>
        <div class="tweet-container-profile-picture">
          <img src="" alt="">
        </div>
        <div class="tweet-container-profile-infos">
          <h3><%=response[0].pseudo%></h3>
          <h4>@<%=response[0].pseudo%></h4>
          <p><%=response[0].city%></p>
        </div>
      </div>

      <div class="comments">
        <% response.forEach(user => { %>
        <div class="comments-comment">
          <a href="/username"><img src="" alt=""></a>
          <div class="comments-comment-content">
            <div class="comments-comment-content-nameDate">
              <a href="/username">
                <h3 class="comments-comment-content-username"><%=user.pseudo%></h3>
              </a>
              <span class="comments-comment-content-date"><%=user.creation_date%></span>
            </div>
            <p class="comments-comment-content-text"><%=user.text%></p>
          </div>
        </div>
        <%})%>
      </div>
    </div>

    <div class="tweet-search"></div>

  </section>
</body>

</html>