<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/iconTwitter.png">
</head>

<body>
  <section class="section-accueil">

    <div class="tweet-navigation">
      <img class="tweet-navigation-image" src="/logoTwitter.png" alt="">
      <div class="tweet-navigation-link">
        <a href="/home">
          <img src="/home-run.png" alt="">
          <h2>Home</h2>
        </a>
        <a href="">
          <img src="/hastag.png" alt="">
          <h2>Explore</h2>
        </a>
        <a href="">
          <img src="/bookmark.png" alt="">
          <h2>Bookmarks</h2>
        </a>
        <a href="/username">
          <img src="/user.png" alt="">
          <h2>My Tweets</h2>
        </a>
        <a href="/">
          <img src="/logout.png" alt="">
          <h2>Logout</h2>
        </a>
      </div>
    </div>

    <div class="tweet-container">
      <div class="tweet-container-title">
        <h3><%=response[0].pseudo%></h3>
      </div>
      
      <div class="tweet-container-profile">
        <div class="tweet-container-profile-background">
          <img src="" alt="">
        </div>
        <div class="tweet-container-profile-picture">
          <img src="" alt="">
        </div>
        <div class="tweet-container-profile-infos">
          <h3><%=  response[0].pseudo %></h3>
          <h4>@<%= response[0].pseudo %></h4>
          <p><%= response[0].city%></p>
          
        </div>
      </div>
      
      <div class="comments">
        <% response.forEach(user => {%>
        <div class="comments-comment">
          <a href="/username"><img src="" alt=""></a>
          <div class="comments-comment-content">
            <div class="comments-comment-content-nameDate">
              <a href="/username">
                <h3 class="comments-comment-content-username"><%= user.pseudo%></h3>
              </a>
              <span class="comments-comment-content-date"><%=user.creation_date%></span>
            </div>

  <!-- ---------------------------------------------------------------- -->
            <form action=<%=`/edit_tweet/${user.id}`%> method='POST'>
              <p class = 'display-tweet-content'><%=`${user.text}`%></p>

            <input class="text-field-edit" name='new_text_content' type='text'>

            <div class='modification-icons-block'>
                <!-- edit tweet icon -->
                <span class='tweet-details'>
                  Afficher les détails
                </span>
                <svg class='edit-icon' height="20px" stroke='3px' fill="rgb(30,144,255)" viewBox="0 -1 381.53417 381" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="m370.589844 230.964844c-5.523438 0-10 4.476562-10 10v88.792968c-.019532 16.558594-13.4375 29.980469-30 30h-280.589844c-16.5625-.019531-29.980469-13.441406-30-30v-260.589843c.019531-16.5625 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.523438-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.589843c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.789062c0-5.523438-4.476563-10.003906-10-10.003906zm0 0"/><path d="m156.367188 178.34375 146.011718-146.015625 47.089844 47.089844-146.011719 146.015625zm0 0"/><path d="m132.542969 249.257812 52.039062-14.414062-37.625-37.625zm0 0"/><path d="m362.488281 7.578125c-9.769531-9.746094-25.585937-9.746094-35.355469 0l-10.605468 10.605469 47.089844 47.089844 10.605468-10.605469c9.75-9.769531 9.75-25.585938 0-35.355469zm0 0"/></svg>
                  
                <!-- button qui envoie la requête pour valider la modification d'un tweet -->
                <input type='submit' class='validate-tweet-edition-button' value='valider'>
                
              <!-- delete tweet icon -->
                <a class="delete" href= <%=`/delete/${user.id}`%>>
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 365.744 365.744" style="enable-background:new 0 0 365.744 365.744;" fill='rgb(30,144,255)' xml:space="preserve" width="18px" height="18px">
                    <g>
                        <g>
                            <g>
                                <path d="M88.309,339.074c1.64,15.621,15.131,27.282,30.825,26.645H250.79c15.981,0.636,29.705-11.258,31.347-27.167
                                    l21.42-223.608H62.186L88.309,339.074z"/>
                                <path d="M342.742,47.026h-97.176V30.307c0.58-16.148-12.041-29.708-28.188-30.288c-0.53-0.019-1.061-0.024-1.591-0.014h-65.829
                                    c-16.156-0.299-29.494,12.555-29.793,28.711c-0.01,0.53-0.005,1.061,0.014,1.591v16.718H23.003
                                    c-5.771,0-10.449,4.678-10.449,10.449s4.678,10.449,10.449,10.449h319.739c5.771,0,10.449-4.678,10.449-10.449
                                    S348.512,47.026,342.742,47.026z M224.668,30.307v16.718h-83.592V30.307c-0.589-4.579,2.646-8.768,7.225-9.357
                                    c0.549-0.071,1.104-0.086,1.656-0.047h65.829c4.605-0.326,8.603,3.143,8.929,7.748C224.755,29.203,224.739,29.758,224.668,30.307
                                    z"/>
                            </g>
                        </g>
                    </g>
                  
                  </svg>
                </a>
            </div>
          </form>
<!-- ---------------------------------------------------------------- -->

          </div>
        </div>
        <%})%>
      </div>
    </div>

    <div class="tweet-search"></div>

  </section>
  <script src='/profile.js'></script>
</body>

</html>